--find-links https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt240/download.html
--find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html

--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://download.blender.org/pypi/

torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

absl-py==2.1.0
accelerate==0.34.0
addict==2.4.0
...
bpy==3.6.0
...
xformers==0.0.28.post3
yacs==0.1.8
yapf==0.40.2
yarl==1.9.11
zipp==3.20.1
